@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: url(fonts/dana-fanum-regular.woff2);
}

@font-face {
  font-family: "Medium";
  src: url(fonts/dana-fanum-medium.woff2);
}

@font-face {
  font-family: "Bold";
  src: url(fonts/dana-fanum-bold.woff2);
}

html {
  scroll-behavior: smooth;
}

.p-container{
  width: 96% !important;
  margin-right: auto;
  margin-left: auto;
}

.dropdown-content {
  display: none;
}

.show {
  display: block;
}

.main-Banner {
  background-image: url("images/Background-Images/banner-mobile.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.request {
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
}

.scrollable-container {
  overflow-x: auto;
  white-space: nowrap;
}

.content {
  display: none;
}

.active {
  display: block;
  opacity: 1 !important;
}

.flex {
  display: flex;
}

.content-box {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  opacity: 0.5;
}

.content-box:hover {
  opacity: 1;
}

.banner-view {
  background-image: url("images/Background-Images/parallax.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-big {
  height: 40%;
}

.Representations{
  background: url("images/Background-Images/IRAN.svg") no-repeat;
}

.Representations h3{
  font-size:20px;
}

.city{
  width: 13% !important;
}

.city-last{
  width: 12.5% !important;
}

@media screen and (min-width: 768px) {
  .main-Banner {
    background-image: url("images/Background-Images/banner.webp");
    background-size: cover;
    height: 500px;
    padding: 50px 0;
  }

  .request {
    border-radius: 20px;
    padding: 40px 25px;
    width: 528px !important;
    height: 400px !important;
  }
}

@media screen and (min-width: 1024px) {
  #DropDownMenu {
    top: 0 !important;
  }
}

@media screen and (min-width: 1350px) {
  .img-big {
    height: 50%;
  }
}

@media screen and (min-width: 1900px) {
  .img-big {
    height: 60%;
  }
}

@media screen and (max-width: 768px) {
  .request {
    background-image: linear-gradient(
      51deg,
      rgba(23, 26, 60, 0.7) 5%,
      rgba(23, 26, 60, 0.3) 95%
    );
    padding: 16px;
    margin: 15px 0;
    border-radius: 20px;
    width: 300px !important;
  }
}

@media (max-width: 650px) {
  .scrollable-container {
    width: 100%;
  }
}
